* { 
  font-family:sans-serif;
}
h1 { 
  font-size: 2em; 
}
#d1{
  position: absolute;
  width: 200px;
  height: 150px;
  background: #fff;
  border: 3px solid #000;
  padding: 5px 15px;
  }
header { 
  text-align: center;
  margin: auto;
  max-width: 50em; 
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 1280px;
  height: 720px;
  border: 1px solid #000000;
}
